<html>
<head>
    <title>Celery Task Assignment</title>
</head>
<body>
<div class="container">
    <!-- task1 -->
    <form id="taskForm">
        <label for="url">API Endpoint:</label>
        <input type="url" name="url" id="urlInput" required>

        <label for="name">Celery Task Name:</label>
        <input type="text" name="name" id="nameInput" required>

        <button type="button" id="run-button">Run</button>
        <span id="output-container">
            Result: <span id="output"></span>
        </span>
    </form>

    <br><br>
    <!-- task2 -->
    <form id="taskForm2">
        <label for="url2">API Endpoint:</label>
        <input type="url" name="url2" id="urlInput2" required>

        <label for="name2">Celery Task Name:</label>
        <input type="text" name="name2" id="nameInput2" required>

        <button type="button" id="run-button2">Run</button>
        <span id="output-container2">
            Result: <span id="output2"></span>
        </span>
    </form>
</div>

<script>
    document.getElementById('run-button').addEventListener('click', function (event) {
        event.preventDefault();

        var url = document.getElementById('urlInput').value;
        var taskName = document.getElementById('nameInput').value;

        // Make a POST request using fetch
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({'name': taskName}),
        })
        .then(response => response.json())
        .then(result => {
            // Update the output div with the result
            document.getElementById('output').textContent = result.output;
        })
        .catch(error => {
            console.error('Error:', error);
            document.getElementById('output').innerText =  data.error;
        });
    });

    // task2
    document.getElementById('run-button2').addEventListener('click', function (e) {
        e.preventDefault();

        var urlInput2 = document.getElementById('urlInput2').value;
        var taskName2 = document.getElementById('nameInput2').value;

        fetch(urlInput2, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({'name': taskName2}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('output2').innerText = data.output;
            } else {
                document.getElementById('output2').innerText = "Please enter correct endpoint";
            }
        })
        .catch(error => {
            document.getElementById('output2').innerText =  data.error;
        });
    });
</script>

</body>
</html>
